<%- include("partials/custHeader") -%>

<div class="top">
    <div class="row">
      <div class="col col-lg-6 top-text col-sm-12">
        <div class="textTop">
          <span id="text1">My name is Rahul</span>
          <br>
          <span id="text2">I am a web Designer</span>
        </div>
        <br>
        <button type="button" name="button" class="btn btn-dark" style="margin-right:15px" >Download</button>
        <button type="button" name="button" class="btn btn-outline-success">Download</button>
      </div>
      <div class="col col-lg-6 col-sm-12">
        <img class="img-top" src="https://images.unsplash.com/photo-1603788570132-1b5604a5c84c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="top-image">
      </div>
    </div>

  </div>





<div class="homeCar">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="false">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <span class="car-text">Get one of the finest room in the city!!!! </span>
          <img class="d-block " src="/images/room1.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
          <span class="car-text">All facilites available!!!! </span>
          <img class="d-block " src="/images/room2.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
          <span class="car-text">Your holiday destination!!! </span>
          <img class="d-block " src="/images/room3.jpg" alt="Third slide">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <div class="footer2">
    <p>Hotel Management System</p>
</div>
</body>
</html>
