<%- include("partials/custHeader") -%>

<div class="container">


<form action="/rooms" method="post">


  <div class="card-group">
    <div class="card">
      <img class="card-img-top" src="images/room1.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">AC Room - 3000</h5>
        <p class="card-text">AC room with 3 beds and food</p>
        <button type="submit" name="button" class="btn btn-primary">Book Room</button>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="images/room2.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">AC Room - 2000</h5>
        <p class="card-text">AC Room with 2 beds and food</p>
        <button type="submit" name="button" class="btn btn-primary">Book Room</button>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="images/room3.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">AC Room - 1500</h5>
        <p class="card-text">AC Room with one bed and with food </p>
        <button type="submit" name="button" class="btn btn-primary">Book Room</button>
      </div>
    </div>
  </div>

  <div class="card-group">
    <div class="card">
      <img class="card-img-top" src="images/room4.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">NON - AC Room - 1000</h5>
        <p class="card-text">NON-AC Room with 3 beds and food</p>
        <button type="submit" name="button" class="btn btn-primary">Book Room</button>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="images/room5.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">NON - AC Room - 800</h5>
        <p class="card-text">NON-AC Room with 2 beds and food</p>
        <button type="submit" name="button" class="btn btn-primary">Book Room</button>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="images/room6.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">NON - AC Room - 600</h5>
        <p class="card-text">NON-AC Room with 1 bed and food</p>
        <button type="submit" name="button" class="btn btn-primary">Book Room</button>
      </div>
    </div>
  </div>

</form>

</div>
<%- include("partials/custFooterLow") -%>
